*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body{}
nav{
	position: fixed;
	top:;
	width:100%;
	padding-bottom:100px;
	z-index: 1;
}

.nav{
	display: none;
}

.navbar {
    font-size: 18px;
    background:#1abc9c;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}

.nav-links,.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    display: block;
}


.nav-links{
	text-align: center;
    margin: 15px auto;
}

.logo {
    display: block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    color: rgba(255,255,255,0.8);
    font-size: 24px;
}

main{
	height:300vh;
}

section{
	padding-top:100px;
}




@media screen and (min-width: 768px) {

    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .nav a {
        margin: 10px;
    }
    .nav-links {
        margin-left: 40px;
    }
    .logo {
        margin-top: 0;
    }
   .toggle {
       display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }